.root {
  font-family: 'Raleway', sans-serif;
  margin: auto;
  text-align: center;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.transpButton {
  background: transparent;
  border: none !important;
  font-size:0;
}