.root {
    font-family: 'Raleway', sans-serif;
    
}

p {   
    color: #f1f1f1;
    margin: 0px;
}

h4{
        font-weight: bold;
        background: rgba(120, 165, 237, 0) !important;
        color: #fff;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
}

.containerFluid {
    padding: 0 6%;
}

.moviePanel{
    height: 100%;
    background-color: rgba(91, 91, 91, 0.76);
    border-color: transparent;
    border-radius: 10px;
}

.panelHeading{
    font-size: 20px;
    font-weight: bold;
    background-color: #222222;
    color: #9c9c9c !important;
    border-color: transparent;
}

.albumCover{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin: 0px 15px 15px 0px;
}

.backdropCover{
    height: 100vh;
    background: url('https://image.tmdb.org/t/p/original//6aUWe0GSl69wMTSWWexsorMIvwU.jpg');
}

.coverImage{
    padding-top: 20px;
    height: 100vh;
    background-size: auto 100vw;
    background-repeat: no-repeat;
}

.detailPoster{
    border-radius: 20px;
    box-shadow: 3px 3px 2px 1px rgba(0,0,0,0.42) ;
    border: 1px solid rgba(220,220,220,1);
}

.rowEqHeight {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

h4{
    background: #78a5ed;
    border-radius: 0px 4px 4px 0px;
    padding: 10px 5px;
}

p {
    padding: 5px 5px;
}

/*.column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}*/