
.containerBox {
  padding: 20px 8%;
  background-color: #fff;
  height: 100%;

}
.profilePicture {
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

.title {
  margin-bottom: 30px;
}

.centerBox {
  text-align: center;
}
